/* Hyperlinks */

a { 
	color: #1684c9;
	text-decoration: underline;	
	border: none;
}

a:visited { 
	color: #1684c9; 
}

a:hover { 
	color: #CCC;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in; 
}

a:focus { 
	outline: thin dotted; 
}

p a { /* Optimized for touch devices */
	margin: -.5em;
	padding: .5em;
	position: relative;
}