
<link rel="shortcut icon" href="<!-- @path favicon.ico -->" />
<link rel="apple-touch-icon" href="<!-- @path apple-touch-icon-57x57.png -->" />
<link rel="apple-touch-icon" sizes="72x72" href="<!-- @path apple-touch-icon-72x72.png -->" />
<link rel="apple-touch-icon" sizes="114x114" href="<!-- @path apple-touch-icon-114x114.png -->" />
<link rel="apple-touch-icon" sizes="144x144" href="<!-- @path apple-touch-icon-144x144.png -->" />