<!-- $title Rapid Bootstrap by Niklaus Gerber -->
<!-- $description «Rapid Bootstrap» is my toolkit for kickstarting web-projects, apps, and more. It includes a basic set of CSS elements optimized for perfect typography, a super simple fluid grid system and all necessary JavaScripts to develop mobile friendly websites. -->

<!-- @include _header.html -->

<div class="container">

<!-- @include _branding.html -->
<!-- @include _utility.html -->

	<div class="grid full">
		<h1>Hello</h1>
		
		<hr />
		
		<h2>Hello again</h2>
		
		<hr />
		
		<h3>Hi there</h3>
		
		<hr />
		
		<h2>Paragraph</h2>
		
		<p><strong>Lorem ipsum dolor sit amet</strong>, <i>consetetur sadipscing elitr</i>, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <a href="#">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</a></p>
		
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
		
		<hr />
		
		<h3>Small Paragraph</h3>
		
		<small><strong>Lorem ipsum dolor sit amet</strong>, <i>consetetur sadipscing elitr</i>, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. <a href="#">Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</a></small>
		
		<hr />
		
		<h2>Quote</h2>
		
		<blockquote><p><strong>Lorem ipsum dolor sit amet</strong>, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p></blockquote>
		
		<hr />
		
		<h2>Code</h2>
		
		<pre><code>Lorem ipsum dolor sit amet</strong>, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</code></pre>
			
		<hr />
		
		<h2>Fluid Image Embeds</h2>
		
		<img src="http://placehold.it/980x490">
		
		<hr />
		
		<h2>Fluid Video Embeds</h2>
		
		<div class="Flexible-container">
			<iframe src="http://player.vimeo.com/video/53914149?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=808080" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		
		<hr />
		
		<h2>Structured Elements</h2>
		
		<h3>Table</h3>
		
		<table>
			<tr>
				<td>row 1, cell 1</td>
				<td>row 1, cell 2</td>
			</tr>
			<tr>
				<td>row 2, cell 1</td>
				<td>row 2, cell 2</td>
			</tr>
		</table>
		
		<hr />
		
		<h3>Unordered List</h3>
		
		<ul>
		  <li>Unordered List</li>
		  <li>Unordered List</li>
		  <li>Unordered List</li>
		</ul>
		
		<hr />
		
		<h3>Ordered List</h3>
		
		<ol>
		  <li>Ordered List</li>
		  <li>Ordered List</li>
		  <li>Ordered List</li>
		</ol>
		
		<hr />
		
		<h3>Defined List</h3>
		
		<dl>
			<dt>Defined List</dt>
				<dd>Defined List</dd>
			<dt>Defined List</dt>
				<dd>Defined List</dd>
		</dl>
		
		<hr />
		
		<h2>Forms</h2>
		
		<h3>Form Field</h3>
		
		<input type=”text” name="formfield" placeholder="Placeholder" />
		
		<hr />
		
		<h3>Text Area</h3>
		
		<textarea name="textarea" placeholder="Placeholder"></textarea>		
		
		<hr />
		
		<h3>Checkbox</h3>
		
		<p>
			<input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label><br />
			<input type="checkbox" id="checkbox-2-1" class="regular-checkbox big-checkbox" /><label for="checkbox-2-1"></label>
		</p>
		
		
		<hr />
		
		<h3>Radio Button</h3>
		
		<p>
			<input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio" checked /><label for="radio-1-1"></label><br />
			<input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio" /><label for="radio-1-2"></label><br />
		</p>
		
		<p>
			<input type="radio" id="radio-2-1" name="radio-2-set" class="regular-radio big-radio" checked /><label for="radio-2-1"></label><br />
			<input type="radio" id="radio-2-2" name="radio-2-set" class="regular-radio big-radio" /><label for="radio-2-2"></label><br />
		</p>
		
		<hr />
		
		<h3>Submit Button</h3>
		
		<a href="#" class="Button">Submit Button</a>
		
		<hr />
	</div>
	
	<div class="cf"></div>
	
	<!-- The Grid -->
	<div class="grid full">
		<h2>The Grid</h2>		
	</div>
	
	<div class="grid full">
		<h3>1/1</h3>
		<p><small><pre><code>&lt;div class="grid full"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid half">
		<h3>1/2</h3>
		<p><small><pre><code>&lt;div class="grid half"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid half">
		<h3>1/2</h3>
		<p><small><pre><code>&lt;div class="grid half"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid third">
		<h3>1/3</h3>
		<p><small><pre><code>&lt;div class="grid third"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid third">
		<h3>1/3</h3>
		<p><small><pre><code>&lt;div class="grid third"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid third">
		<h3>1/3</h3>
		<p><small><pre><code>&lt;div class="grid third"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid one-third">
		<h3>1/3</h3>
		<p><small><pre><code>&lt;div class="grid one-third"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid two-third">
		<h3>2/3</h3>
		<p><small><pre><code>&lt;div class="grid two-third"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid two-third">
		<h3>2/3</h3>
		<p><small><pre><code>&lt;div class="grid two-third"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid one-third">
		<h3>1/3</h3>
		<p><small><pre><code>&lt;div class="grid one-third"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid fourth">
		<h3>1/4</h3>
		<p><small><pre><code>&lt;div class="grid fourth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid fourth">
		<h3>1/4</h3>
		<p><small><pre><code>&lt;div class="grid fourth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid fourth">
		<h3>1/4</h3>
		<p><small><pre><code>&lt;div class="grid fourth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid fourth">
		<h3>1/4</h3>
		<p><small><pre><code>&lt;div class="grid fourth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>	
	
	<div class="grid fifth">
		<h3>1/5</h3>
		<p><small><pre><code>&lt;div class="grid fifth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid fifth">
		<h3>1/5</h3>
		<p><small><pre><code>&lt;div class="grid fifth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid fifth">
		<h3>1/5</h3>
		<p><small><pre><code>&lt;div class="grid fifth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid fifth">
		<h3>1/5</h3>
		<p><small><pre><code>&lt;div class="grid fifth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid fifth">
		<h3>1/5</h3>
		<p><small><pre><code>&lt;div class="grid fifth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid sixth">
		<h3>1/6</h3>
		<p><small><pre><code>&lt;div class="grid sixth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid sixth">
		<h3>1/6</h3>
		<p><small><pre><code>&lt;div class="grid sixth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid sixth">
		<h3>1/6</h3>
		<p><small><pre><code>&lt;div class="grid sixth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid sixth">
		<h3>1/6</h3>
		<p><small><pre><code>&lt;div class="grid sixth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid sixth">
		<h3>1/6</h3>
		<p><small><pre><code>&lt;div class="grid sixth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid sixth">
		<h3>1/6</h3>
		<p><small><pre><code>&lt;div class="grid sixth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid seventh">
		<h3>1/7</h3>
		<p><small><pre><code>&lt;div class="grid seventh"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid seventh">
		<h3>1/7</h3>
		<p><small><pre><code>&lt;div class="grid seventh"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid seventh">
		<h3>1/7</h3>
		<p><small><pre><code>&lt;div class="grid seventh"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid seventh">
		<h3>1/7</h3>
		<p><small><pre><code>&lt;div class="grid seventh"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid seventh">
		<h3>1/7</h3>
		<p><small><pre><code>&lt;div class="grid seventh"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid seventh">
		<h3>1/7</h3>
		<p><small><pre><code>&lt;div class="grid seventh"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid seventh">
		<h3>1/7</h3>
		<p><small><pre><code>&lt;div class="grid seventh"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="grid eighth">
		<h3>1/8</h3>
		<p><small><pre><code>&lt;div class="grid eighth"&gt;&lt;/div&gt;</code></pre></small></p>
	</div>
	
	<div class="cf"></div>
	
</div>

<!-- @include _footer.html -->

<!-- This site has been supercharged with «Rapid Bootstrap» by Niklaus Gerber | www.niklausgerber.com -->